<template>
  <b-container class="px-4 py-3 mt-sm-n4 pr-sm-0">
    <p
      class="credits text-right small"
      v-html="$t('credits', {
        author: '<a href=\'http://www.davidrevoy.com\'>David Revoy</a>'
      })"
    ></p>
  </b-container>
</template>
